doctype html(lang='en')
html
	head
			meta(charset='UTF-8')
			block title
				title RCS

			block stylesheets
				
			link(rel='stylesheet', href='../css/style.css')
			link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet', type='text/css')
	body
		block content

		block scripts